:root {
  --saru-dark-blue: #2a253a;
  --saru-blurple: #453d60;
}

body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--saru-dark-blue);
  background-image: url("/assets/Saruei_by_Kevin_lim.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.imageSource1 {
  display: block;
}

.imageSource2 {
  display: none;
}

@media (max-width: 600px) {
  body {
    background-image: url("/assets/Saruei_by_sakamoto0214.jpg");
    background-size: 130%;
  }

  .imageSource1 {
    display: none;
  }

  .imageSource2 {
    display: block;
  }

  .imageSourceBox {
    display: "flex";
    justify-content: "center";
    align-self: "center";
    text-align: "center";
  }

  .TopBoxes {
    width: 300px !important;
  }

}

@media (max-width: 1170px) {
  .imageSourceBox {
    position: absolute;
    bottom: 90px !important;
    width: fit-content;
  }
}